.m-management-header{position: relative;height: 80px;line-height: 80px;}
.m-header-title{font-size: 30px;text-align: center;color: #333333;}
.m-header-right{position: absolute;top: 0;right: 0;padding: 0 20px 0 0;}
.m-header-username{margin: 0 20px 0 0; font-size: 22px;color: #f66f0c;font-weight: bold;}
.m-upload-img{width: 100px;height: 100px;}














