.m-management-header{position: relative;height: 80px;line-height: 80px;}
.m-header-title{font-size: 30px;text-align: center;color: #333333;}
.m-header-right{position: absolute;top: 0;right: 0;padding: 0 20px 0 0;}
.m-header-username{margin: 0 20px 0 0; font-size: 22px;color: #f66f0c;font-weight: bold;}

.m-content{ height: 500px;}
.m-content-inner{padding: 50px 20px;}
.m-upload-input-wrap{margin: 20px 0;}
.m-upload-img{width: 100px;height: 100px;}

.m-row{display: inline-block; margin: 20px 0 0;width: 100%;white-space: nowrap;}

.m-article-textarea-wrap{margin: 20px 0;}
.m-edit-article-title{line-height: 50px;font-size: 26px;}
.m-article-toolbar{margin: 20px 0;}
.m-toolbar-btn{margin: 0 10px;}
.m-input-label{display: inline-block;margin: 0 20px 0 0; width: 100px;line-height: 30px; text-align: right;vertical-align: top;}
.m-input{display: inline-block; width: 350px!important;vertical-align: top;}
.m-checkbox{line-height: 30px!important;}














